
nav {
  width: 100vw;
  background-color: $color-blue;
  margin: auto;
  color: $color-white;
  .header-topbar, .header-bottombar {
    width: 1300px;
    margin: auto;
    @media  #{$brk-large} {
      width: 1140px;
    }
    @media  #{$brk-medium} {
      width: 980px;
    }
    @media  #{$brk-tablet} {
      width: 740px;
    }
    @media  #{$brk-phone} {
      width: 100vw;
    }
  }
}
ul {
  list-style: none;
  padding: .5em;
  li {
    display: inline;
  }
}

.header-bottombar {
  background-color: shade($color-blue,20%);
}
#signIn {
  position: relative;
  display: inline;
  top: .2em;
}

#google {
  position: relative;
  display: inline;
  top: .85em;
}
#search {
  position: relative;
  display: inline;
  top: .2em;
}

#logo {
  position:relative;
  top:20px;
  left:740px;
}
