
nav {
  @include outer-container($local-max-width:100vw);
  height: 163px;
  background-color: $color-blue;
  color: $color-white;
}
// @function em($target, $context: $base__font-size) {
//   @return ($target / $context) * 1em;
// }

ul {
  list-style: none;
  margin:0;
  padding: 0;
  li {
    display: inline;
    margin-right:0.333em;
    margin-left:0.333em;
  }
}
.header-full {
  position: relative;
  width: 100vw;
  background-color: shade($color-blue,8%);
}
.header-topbar,
.header-bottombar,
.header-logo {
  width: 1300px;
  margin: auto;
  @media  #{$brk-large} {
    width: 1140px;
  }
  @media  #{$brk-medium} {
    width: 980px;
  }
  @media  #{$brk-tablet} {
    width: 740px;
  }
  @media  #{$brk-phone} {
    width: 100vw;
  }
}
.header-topbar {
  position: relative;
  height: 15%;
  .topBarIcon {
    position: relative;
    top: .2em;
  }
  .circleLogo {
    position: relative;
    top: .85em;
  }
  .jobs {
    position: absolute;
    top:1.45em;
    right:220px;
  }
  .unitedStatesEdition {
    position: absolute;
    top: 1.45em;
    right:.28em;
  }
}
.header-logo {
  position: relative;
  height: 63%;
  .brand {
    position: absolute;
    top: 2em;
    right: .28em;
  }
}
.header-bottombar {
  height: 22%;
  .mainNav {
    position: relative;
    background-color: shade($color-blue,20%);
    padding: .3em .3em .3em .3em;
    .homeIcon {
      position: relative;
      top: .2em;
    }
    .browse {
      position: absolute;
      top: 0em;
      right: -.3em;
      width: 200px;
      height: 100%;
      padding-right: .3em;
      text-align: right;
      background-color: shade($color-grey,80%);
      z-index: 100;
    }
  }
}
