// Colors
$color-white                  : #fff;
$color-black                  : #000;
$color-grey


$color-blue                   : #005689;
$color-blue-light             : #AADCE6;
$color-disco                  : #951C55;

$color-blue-dark              : #00456E;

$color-primary                : $color-blue;
$color-secondary              : $color-blue-light;
$color-accent                 : $

$color-tile-background        : #F6F6F6;
$color-container-background   : #F5F5F5;
$color-body-background        : #FFF;
$color-head-primary           : $color-blue;
$color-head-grey              : #333333;
$color-head-light-grey        : #5C5C5C;

$color-text-grey              : #767676;
$color-text-dark-grey         : $color-head-grey;
$color-text-white             : $color-body-background;
$color-text-highlight         : #951C55;

// $stack-serif                  :;
// $stack-merriweather           :;
// $stack-sans-serif             :;
// $stack-open                   :;

//font stacks

$stack-serif: Georgia, serif;
$stack-GuardianEgyptianWeb : "Guardian Egyptian Web", $stack-serif;

$font-url--google-open                   : "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

$font-family--primary                    : $stack-GuardianEgyptianWeb;
$font-family--secondary                  : "Open Sans", sans-serif;


// Asset paths

$path-img : '../img';
$path-font: '../fonts';


//Media Query breakpoints

$brk-large : '(max-width: 1300px)';
$brk-medium: '(max-width: 1140px)';
$brk-tablet : '(max-width: 980px)';
$brk-phone: '(max-width: 740px)';


// Heights

$stories-top-height       : 333px;
$stories-bottom-height    : 309px;
