
// Colors

$color-white                  : #FFF;
$color-grey                   : #333;
$color-black                  : #000;

$color-blue                   : #005689;
$color-lightBlue              : #aadce6;
$color-wildSand               : #f6f6f6;
$color-whiteSmoke             : #f4f4f4;
$color-discoPurple            : #005689;

$color-tile-background        : $color-wildSand;
$color-container-background   : $color-whiteSmoke;
$color-body-background        : $color-white;

$color-head-blue              : $color-blue;

$color-text-grey              : $color-grey;
$color-text-highlight         : $color-discoPurple;


//font stacks

$stack-serif: $georgia;
$stack-GuardianEgyptianWeb : 'GuardianEgyptianWeb', $stack-serif;

$font-url--google                   : "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";

$font-family--primary                    : $stack-GuardianEgyptianWeb;
$font-family--secondary                  : 'Open Sans', $helvetica;

//font-weight for open

$font-weight--light                       : 300;
$font-weight--regular                     : 400;
$font-weight--semibold                    : 600;
$font-weight--bold                        : 700;
$font-weight--xbold                       : 800;


//font-size

$base__font-size                        : 16px;
$base__line                             : 24px;



//Media Query breakpoints

$brk-large : '(max-width: 1300px)';
$brk-medium: '(max-width: 1140px)';
$brk-tablet : '(max-width: 980px)';
$brk-phone: '(max-width: 740px)';


// Heights

$stories-top-height       : 333px;
$stories-bottom-height    : 309px;
