// Colors

$color-blue                   : #005689;
$color-blue-dark              : #00456E;
$color-blue-light             : #AADCE6;


$color-tile-background        : #F6F6F6;
$color-container-background   : #F5F5F5;
$color-body-background        : #FFF;
$color-head-blue              : $color-blue;
$color-head-grey              : #333333;
$color-head-light-grey        : #5C5C5C;

$color-text-grey              : #767676;
$color-text-dark-grey         : $color-head-grey;
$color-text-white             : $color-body-background;
$color-text-highlight         : #951C55;

// $stack-serif                  :;
// $stack-merriweather           :;
// $stack-sans-serif             :;
// $stack-open                   :;




//Media Query breakpoints

$brk-large : '(max-width: 1300px)';
$brk-medium: '(max-width: 1140px)';
$brk-tablet : '(max-width: 980px)';
$brk-phone: '(max-width: 740px)';


// Heights

$stories-top-height       : 333px;
$stories-bottom-height    : 309px;
